.app
{
  padding-bottom: 49px;
  width: 100%;
}
.uu{
  height: 70px;
}
.x{
  height: 50px;
  width:100%;
}
.title{
  color: #1212f5;
  font-size:20px;
  font-weight: 900;
  font-family: "微软雅黑";
  font-style: italic;
  font: 100;
}
.tabbar{
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: aqua;
}
.pic{
  width:100%;
  height: 150px;
  object-fit: cover;
  
}

  
